<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Google Ads</title>
    <link rel="icon" href="https://cdn.shopify.com/s/files/1/0740/2335/files/google.png?v=1600419285"/>
</head>
<body >

<h2 style="color:#236b4a">Products for Google Ads Promo</h2>
    <form action="/search-post" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <b>請選擇上傳檔案：</b>
        <input type="file" name="uploadedFile">
        <p>
        <b>請輸入表單名稱：</b>
        <input type="text" name="sheetName">
        <input type="submit" value="Submit">
    </form>


    {% if messages %}
    <ul class="messages" style="background-color: #4582AE; border-radius: 3px; color:white;padding: 10px 40px 10px 10px; width: 100%;" >
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </li>
        <i class="fa fa-hand-point-right"></i>
        <b><a target="_blank" style="color:#FFFFE0; text-decoration:none ; " href="{{SheetURL}}">表單網址</a></b>

        {% endfor %}
    </ul>
    {% endif %}


    <div style="width: 100vw;" >
        <table>
        {% for i in url %}
        <tr style=" overflow: auto; white-space:nowrap" >
            <td height="55"><img src="{{i.url}}" height="50" onerror="this.parentNode.parentNode.style.color='red'"></td>
            <td> {{i.handle}} </td>
            <td style="padding-left:20px"> {{i.title}} </td>
            <td style="padding-left:20px"> {{i.sku}}</td>
            <td style="padding-left:20px"> {{i.price}} </td>
            <td style="padding-left:20px"> <a target="_blank" href="{{i.url}}">{{i.url}}</a> </td>
        </tr>
        {% endfor %}
        </table>
    </div>

    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
</body>
</html>